In [55]:
%load_ext autoreload
%autoreload 2

root_dir = '../'

import os
import sys
sys.path.append(os.path.join(root_dir, 'src'))

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [67]:
from dataframe.train import TrainPreprocessor

In [68]:
import pandas as pd
df = pd.read_csv('../data/train.csv')

In [69]:
train_preprocessed = TrainPreprocessor(df)

In [59]:
from dataframe.test import TestPreprocessor

In [60]:
test = pd.read_csv('../data/test.csv')

In [72]:
test_preprocessor = TestPreprocessor(test, train_preprocessed.processed)

In [74]:
test_preprocessor.X()

,is.clean_title,milage_per_year,had_accident,avg_price,model_year
0,True,10888.888889,False,19582.380000,2015
1,True,2285.500000,False,74167.477612,2020
2,False,14060.500000,False,50420.818345,2022
3,False,7657.250000,False,28007.062500,2016
4,True,9833.333333,False,24829.909483,2018
...,...,...,...,...,...
125685,True,8331.500000,False,35665.622691,2014
125686,False,5867.200000,False,56878.435714,2019
125687,True,6469.500000,False,29365.696203,2012
125688,True,9333.333333,False,33872.352941,2012
125689,True,11140.000000,False,47562.113703,2018

---

In [62]:
class Human:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def introduce(self):
        print(f'Hello, I am {self.name}. I am {self.age} years old.')

    def birth_year(self):
        return 2024 - self.age

In [35]:
aki = Human('aki', 26)
gota = Human('gota', 30)

In [36]:
aki.name, aki.age, aki.birth_year()

('aki', 26, 1998)

In [37]:
gota.name, gota.age, gota.birth_year()

('gota', 30, 1994)

In [38]:
class FootballPlayer(Human):
    def __init__(self, name, age, team):
        super().__init__(name, age)
        self.team = team

    def show_team(self):
        print(f"I play for {self.team}.")

In [39]:
taka = FootballPlayer('taka', 25, 'FC Tokyo')

In [41]:
taka.show_team(), taka.birth_year()

I play for FC Tokyo.

(None, 1999)